<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đóng góp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body class="container">
<!--include navbar-->
<% include nav.ejs %>
<!--main content-->
<main style="margin-top: 1rem">
    <p>Đóng góp hình ảnh của bạn tại đây</p>
    <form method="post" enctype="application/x-www-form-urlencoded" action="/add"
          style="display: flex; flex-direction: column; align-items: center; justify-content: center">
        <div style="display: flex; flex-direction: row; gap: 3rem; justify-content: space-evenly">
            <label for="wallpaperName">
                <input type="text" placeholder="Tên ảnh" name="wallpaperName" class="form-control">
            </label>
            <label for="wallpaperDescription">
                <input type="text" placeholder="Nội dung" name="wallpaperDescription" class="form-control">
            </label>
            <label for="wallpaperLink">
                <input type="text" placeholder="Đuờng dẫn ảnh" name="wallpaperLink" class="form-control">
            </label>
            <label for="wallpaperKind">
                <select name="wallpaperKind" class="form-control">
                    <option value="Anime">Anime</option>
                    <option value="Nature">Thiên nhiên</option>
                    <option value="Dota2">Dota 2</option>
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 1rem; width: 8rem">Đóng góp</button>
    </form>
    <p><%= message %></p>
    <div style="display: flex; flex-direction: row; gap: 1rem; margin-top: 3rem; flex-wrap: wrap; justify-content: center; align-items: center">
        <% for (var i = 0; i < data.length; i++) { %>
            <div class="card" style="width: 24rem; height: 36rem; box-shadow: 1px 2px 21px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 21px -1px rgba(0,0,0,0.75);">
                <img src="<%= data[i].wallpaperLink %>"
                     class="card-img" alt="..."
                     style="height: 30rem; object-fit: cover; max-height: 28rem; min-height: 28rem">
                <div class="card-body">
                    <p class="text-dark" style="font-weight: bold"><%= data[i].wallpaperName %></p>
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 2rem; justify-content: center">
                        <a class="btn btn-primary" href="/edit/<%= data[i].id %>">Sửa</a>
                        <form action="/delete/<%= data[i].id %>" method="post"
                              enctype="application/x-www-form-urlencoded">
                            <button class="btn btn-primary" type="submit" >Xoá</button>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>
<% include footer.ejs %>
</body>
</html>